{% extends 'base.html.twig' %}

{% block title %}Nicolas Gretten | Cv{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row text-center">
        <h1>Mon Cv</h1>
        <img src="../../img/Nicolas-gretten.jpg" class="border">
    </div>
</div>
{% endblock %}
