{% extends 'base.html.twig' %}

{% block title %}Nicolas Gretten | {{ controller_name }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card bg-light">
                <div class="view overlay">
                    <img src="https://dummyimage.com/600x400/000/fff" class="card-img-top">
                    <a>
                    <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body elegant-color white-text rounded-bottom">
                    <h4 class="card-title">Projet</h4>
                    <hr class="hr-light">
                    <p class="card-text white-text mb-4">Descirption</p>
                    <a href="#" class="btn btn-primary btn-lg float-right">Direction le site !</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card bg-light">
                <div class="view overlay">
                    <img src="https://dummyimage.com/600x400/000/fff" class="card-img-top">
                    <a>
                    <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body elegant-color white-text rounded-bottom">
                    <h4 class="card-title">Projet</h4>
                    <hr class="hr-light">
                    <p class="card-text white-text mb-4">Descirption</p>
                    <a href="#" class="btn btn-primary btn-lg float-right">Direction le site !</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card bg-light">
                <div class="view overlay">
                    <img src="https://dummyimage.com/600x400/000/fff" class="card-img-top">
                    <a>
                    <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body elegant-color white-text rounded-bottom">
                    <h4 class="card-title">Projet</h4>
                    <hr class="hr-light">
                    <p class="card-text white-text mb-4">Descirption</p>
                    <a href="#" class="btn btn-primary btn-lg float-right">Direction le site !</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
