{% extends 'base.html.twig' %}

{% block title %}Projet | {{ controller_name }}{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue !</h1>
        <p class="lead">J'ai créer ce portfolio pour vous présenter mes différents projets réaliser et en cours de réalisation. </p>
        <hr class="my-4">
        <p>Si vous souhaitez en apprendre plus sur moi cliquez sur ce bouton</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="../CV/Nicolas-gretten.jpg" role="button">En apprendre plus</a>
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="view overlay">
                    {# <img class="card-img-top" src=""
                    alt="Card image cap"> #}
                    <iframe src="http://nicolas-gretten.fr:8081" frameborder="0" class="card-img-top"></iframe>
                    <a>
                    <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body elegant-color white-text rounded-bottom">
                    <a class="activator waves-effect mr-4"><i class="fas fa-share-alt white-text"></i></a>
                    <h4 class="card-title">Mon Wordpress</h4>
                    <hr class="hr-light">
                    <p class="card-text white-text mb-4">Voici un exemple d'installation Wordpress que j'ai effectué avec des plugins personnalisez !</p>
                    <a href="http://nicolas-gretten.fr:8081" class="btn btn-primary btn-lg float-right">Direction le site !</a>
                </div>
            </div>
        </div>
        <div class="col-6">
         <div class="card">
                <div class="view overlay">
                    {# <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg"
                    alt="Card image cap"> #}
                    <iframe src="http://nicolas-gretten.fr:8082" frameborder="0" class="card-img-top"></iframe>
                    <a>
                    <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body elegant-color white-text rounded-bottom">
                    <a class="activator waves-effect mr-4"><i class="fas fa-share-alt white-text"></i></a>
                    <h4 class="card-title">Site E-commerce</h4>
                    <hr class="hr-light">
                    <p class="card-text white-text mb-4">Je vous présente la boutique réaliser lors de ma formation de développeur web et web mobile.</p>
                    <a href="http://nicolas-gretten.fr:8082" class="btn btn-primary btn-lg float-right">Direction le site !</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
