{% extends 'base.html.twig' %}

{% block title %}Projet | {{ controller_name }}{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue !</h1>
        <p class="lead">J'ai créer ce portfolio pour vous présenter mes différents projets réaliser et en cours de réalisation. </p>
        <hr class="my-4">
        <p>Si vous souhaitez en apprendre plus sur moi cliquez sur ce bouton</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more !</a>
        </p>
    </div>
</div>

{% endblock %}
